<main class="form-signin">
  <form>
    <h1 class="h3 mb-3 fw-normal">Sign in</h1>
    <label class="visually-hidden">Email address</label>
    <input matInput name="email" type="email" [(ngModel)]="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <label class="visually-hidden">Password</label>
    <input matInput name="password" type="password" [(ngModel)]="inputPassword" class="form-control" placeholder="Password" required>

    <button class="w-100 btn btn-lg btn-primary" type="submit" (click)="logged_bar()">
      Sign In
    </button>
    <label class="error-message">{{errorMessage}}</label>

    <p class="mt-5 mb-3 text-muted">&copy; 2021–2021</p>
  </form>
</main>
