<section class="search-bar">
  
  <!-- TODO search bar -->
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-md-8">
      <div class="search"> <i class="fa fa-search"></i> <input type="text" class="form-control" placeholder="Have a question? Ask Now"> <button class="btn btn-primary">Search</button> </div>
    </div>
  </div>
  
</section>

<app-place-list [places]="places_list"></app-place-list>

<footer class="text-muted py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>
    </div>
</footer>
