<section class="search-bar">
  <!-- TODO search bar -->

  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-md-8">
      <div class="search"> <i class="fa fa-search"></i> <input type="text" class="form-control" placeholder="Have a question? Ask Now"> <button class="btn btn-primary">Search</button> </div>
    </div>
  </div>
</section>

<main>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        <app-event-tile></app-event-tile>
        <app-event-tile></app-event-tile>
        <app-event-tile></app-event-tile>
        <app-event-tile></app-event-tile>
        <app-event-tile></app-event-tile>

      </div>
    </div>
  </div>
</main>

<footer class="text-muted py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>
    </div>
</footer>


<script src="../../../assets/dist/js/bootstrap.bundle.min.js"></script>

