<div class="form-container">
    <h6>Address</h6>
    <input matInput name="country" type="text" [(ngModel)]="inputCountry" class="form-control form-textinput" placeholder="Country" required autofocus>
    <input matInput name="city" type="text" [(ngModel)]="inputCity" class="form-control form-textinput" placeholder="City" required>
    <input matInput name="street" type="text" [(ngModel)]="inputStreet" class="form-control form-textinput" placeholder="Street" required>
    <input matInput name="number" type="text" [(ngModel)]="inputNumber" class="form-control form-textinput" placeholder="Number" required>
    <textarea matInput name="description" type="text" [(ngModel)]="inputDescription" class="form-control form-textinput" placeholder="Description" required></textarea>
    <h6>Time</h6>

    <div class="container">

        <form class="form-inline">
            <div class="form-group">
                <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd"
                           name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                    </div>
                </div>
            </div>
        </form>
        <label for="inputMDEx1o">Start</label>
        <input type="time" id="inputMDEx1o" class="form-control">
        <label for="inputMDEx1c">End</label>
        <input type="time" id="inputMDEx1c" class="form-control">
    </div>
    <label class="alert-danger">{{errorMessage}}</label>
    <button type="button" class="btn btn-primary">Create</button>
</div>
