<div class="row">
  <div class="col">
    <div class="row">
      <h6>MO:</h6>
      <p>{{this.mo}}</p>
    </div>
    <div class="row">
      <h6>TU:</h6>
      <p>{{this.tu}}</p>
    </div>
    <div class="row">
      <h6>WE:</h6>
      <p>{{this.we}}</p>
    </div>
    <div class="row">
      <h6>TH:</h6>
      <p>{{this.th}}</p>
    </div>
    <div class="row">
      <h6>FR:</h6>
      <p>{{this.fr}}</p>
    </div>
    <div class="row">
      <h6>SA:</h6>
      <p>{{this.sat}}</p>
    </div>
    <div class="row">
      <h6>SU:</h6>
      <p>{{this.sun}}</p>
    </div>
  </div>
  <div class="col">
    <h6>Closed:</h6>
    <div *ngFor="let close of closed">
      <p><i> {{ close }} </i></p>
    </div>
  </div>
</div>
